.checkoutMain{
    .checkoutLeft{
        .formArea{
            width: 100%;
            .inputForms{
                display: flex;
                flex-direction: column;
            }
        }
        h5{
            margin-top: 10px;
        }
        label{
            margin-top: 10px;
        }
        input{
            border: 1px solid black;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.6);
            outline: none;
        }
    }
    .checkoutRigt{
        margin: auto 0;
        .information {
            img{
                width: 100%;
                border-radius: 4px;
                -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
                box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
                margin: 10px 0;
            }
            border-bottom: 2px solid black;
        }
        .guestInfo{
            margin: auto;
            font-weight: bold;
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 2px solid black;
        }
        .paymentArea{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 10px 0;
            .price{
                display: flex;
                flex-direction: row;
                margin: auto;
                span{
                    margin: auto;
                    font-weight: bold;
                    font-size: 1rem;
                    &:last-child{
                        margin-left: 10px;
                        font-size: 1.2rem;
                    }
                }
            }
            button{
                width: 60px;
                margin: 10px auto;
                outline: none;
                border: none;
                background: none;
                font-weight: bold;
                font-size: 2rem;
                color: rgb(116, 231, 116);
                &:hover {
                    transform: scale(1.1);
                    color: rgb(40, 184, 40);
                    ;
                }
            }
        }
    }  
}
