.modal-dialog {
    width: 70%;
    max-width: 90%;
    .images {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        height: min-content;
        div {
            text-align: center;
            margin: 0.5%;
        }
        div:first-child {
            width: 100% !important;
        }
    }
    .bookCol {
        display: flex;
        align-items: center;
        .booking {
            overflow-y: auto;
            height: 80%;
            width: 100%;
            margin: auto;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            &::-webkit-scrollbar {
                display: none;
            }
            div {
                display: flex;
                justify-content: center;
                #start,
                #end {
                    padding: 5px;
                    margin: 5px;
                    width: 45%;
                }
            }
            .guests {
                button {
                    outline: none;
                    border: transparent;
                    border-radius: 20%;
                    margin: 2px;
                }
                span {
                    margin: 3px;
                }
            }
            .btn {
                width: 90%;
                margin: auto;
            }
            .totalPrice {
                margin: 5px;
                height: 180px;
                ul {
                    list-style: none;
                    hr {
                        margin: 0;
                        background-color: rgb(194, 194, 194);
                    }
                }
            }
        }
    }
    .amenities {
        list-style: none;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        width: 100%;
        .bookCol {
            .booking {
                width: 100%;
                margin: 5px auto;
                .totalPrice{
                    width: 100%;
                }
            }
        }
    }
    .description{
        margin-top: 220px;
    }
    .amenities {
        list-style: none;
        padding-left: 0;
    }
}
